##
## @file    .htaccess
## @brief   Apache htaccess file for Vireo
## @author  Michael Hucka <mhucka@caltech.edu>
##
## This file is part of Vireo.  Please visit the following page for more
## information and the latest version:  https://github.com/mhucka/vireo
## ----------------------------------------------------------------------------

# The purpose of the following is to tell Apache to issue HTTP response
# headers that should instruct browsers not to cache the contents of the
# files in this directory.  In theory, the <meta> tags we put on the files
# should do that, but based on http://stackoverflow.com/a/2068407/743730 it
# may depend on the Apache server configuration.  So, lets' do it both ways.

<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>
